{% extends "base.html.twig" %}


{% block title %}Бранирование билета{% endblock %}

{% block body %}
    <h1>Бранирование билета</h1>
        <div>
            {{ form(form) }}
        </div>

{% endblock %}